<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" xml:lang="nl" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/rss+xml" title="TelePoesis.org RSS" href="http://telepoesis.org/rss.xml" />
 <title>TelePoesis.org | Schoonheid die bijt</title>
<link type="text/css" rel="stylesheet" media="all" href="/modules/node/node.css?c" />
<link type="text/css" rel="stylesheet" media="all" href="/modules/system/defaults.css?c" />
<link type="text/css" rel="stylesheet" media="all" href="/modules/system/system.css?c" />
<link type="text/css" rel="stylesheet" media="all" href="/modules/system/system-menus.css?c" />
<link type="text/css" rel="stylesheet" media="all" href="/modules/user/user.css?c" />
<link type="text/css" rel="stylesheet" media="all" href="/themes/chameleon/marvin/style.css?c" />
<link type="text/css" rel="stylesheet" media="all" href="/themes/chameleon/common.css?c" />
</head><body>

 <div id="header">  <h1 class="site-name title"><a href="/">TelePoesis.org</a></h1></div>
 <div class="navlinks"><ul class="links" id="navlist"><li class="menu-122 first"><a href="./index.html" title="Welkom bij TelePoesis.org">welkom</a></li>
<li class="menu-134"><a href="./dichtbundeltje.html" title="Mini-dichtbundeltje dat in je portefeuille past, in een wip gemaakt uit één A4-blad. Geen nietjes nodig!">dichtbundeltje</a></li>
<li class="menu-135 last"><a href="./contact.html" title="contact">contact</a></li>
</ul> </div>
 <table id="content">
  <tr>

   <td id="main">
<!-- begin content -->
{{ content }}
<!-- end content -->
 <div id="footer">Deze site draait op vrije software. Dank aan al wie dat heeft mogelijk gemaakt.</div>
   </td>
  </tr>
 </table>
 </body>
</html>

